<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil de la carrera</h2>
<div class="summary">
    <p>Licenciado en Ciencias de la Comunicación por la Universidad de Buenos Aires, fui desarrollando una carrera cercana a las comunidades y el software y cultura libre, aprendiendo sobre tecnologías y programación Web especialmente. Colaboro con la Comunidad de Mozilla desde el año 2000 y gracias a ese trabajo, fui contruyendo redes con distintas organizaciones y comunidades a lo largo de latinoamérica.</p>
</div><!--//summary-->
</section><!--//section-->
