 <div class="education-container container-block">
<h2 class="container-block-title">Educación</h2>
<div class="item">
    <h4 class="degree">Lic. Ciencias de la Comunicación</h4>
    <h5 class="meta">Universidad<br> de Buenos Aires</h5>
    <div class="time">1991 - 2002</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Investigador Ad-honorem, Instituto Gino Germani, Fac. Cs. Sociales</h4>
    <h5 class="meta">Universidad<br> de Buenos Aires</h5>
    <div class="time">2002 - 2009</div>
</div><!--//item-->
</div><!--//education-container-->
