<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia previa</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Consultor e implementador</h3>
                            <div class="time">2017 - Presente</div>
                        </div><!--//upper-row-->
                        <div class="company">U-Report, Argentina</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Consutoría e implementación del proyecto <a href="http://argentina.ureport.in">U-Report</a> en la República Argentina. Incluye tanto el trabajo sobre el sitio web y la herramienta RapidPro como la planificación y construcción de encuenstas y alianzas con otras organizaciones del país.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Community Catalyzer</h3>
                            <div class="time">2013 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Mozilla Corporation, San Francisco</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Community Catalyzer para Latinoamérica en Mozilla Corporation. La función del rol era mejorar la capacidad de las comunidades de Mozilla en latinoamérica para crecer y tener impacto en sus regiones.</p><p>
	Al mismo tiempo, trabajar en conjunto al resto del equipo de Participación en crear una estrategia para las comunidades de Mozilla, así como programas especiales como los <a href="https://reps.mozilla.org" alt="Sitio web de Mozilla Reps">Mozilla Reps</a> y otros programas de liderazgo que pudieran surgir en el trabajo. Así como ayudar a otros equipos de la organización en su trabajo en la región.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Coordinador campaña «De todos para todos», Buenos Aires</h3>
                            <div class="time">2012 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Nobox para Mozilla</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Organización y producción de la campaña «De todos para todos» en la República Argentina. El trabajo incluyó organización de eventos, entrevistas a especialistas en la Web para el sitio y la coordinación del trabajo de voluntarios de la comunidad de Mozilla.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Coordinador tecnológico en el sitio web <a href="http://thefly.com/">theflyonthewall.com</a></h3>
                            <div class="time">2005 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">theflyonthewall.com, Nueva York</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Coordinación del equipo que desarrolló la nueva versión del sitio Web en Buenos Aires, además de investigación sobre las tecnologías que debíamos usar en el futuro. Incluía programación en PHP y JavaScript y desarrollo del sitio en HTML y CSS.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Co organizador del capítulo argentino de HacksHackers</h3>
                            <div class="time">2011 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Buenos Aires</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Voluntario</b> HacksHackers es una comunidad multidisciplinaria (principalmente integrada por periodistas, programadores y diseñadores) que comparte conocimientos y emprendimientos para innovar el periodismo y la forma de contar historias. Como co organizador ayudo tanto en la producción de eventos como en la construcción de la comunidad. Desde hace cinco años organizamos un evento al que denominamos <a href="http://www.mediaparty.info/">Media Party</a> en el que confluyen profesionales de todo el mundo para compartir sus conocimientos a partir de charlas y talleres.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Localización de productos de Mozilla</h3>
                            <div class="time">2002 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Mozilla Corporation</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Voluntario</b> Traducción de los productos de Mozilla Corporation y de las páginas web de los productos al español de Argentina. Difusión de Mozilla en eventos a lo largo del país. Entrevistas concertadas por el equipo de prensa de Mozilla con medios de latinoamérica.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Coordinador del Área de Comunicación</h3>
                            <div class="time">2001 - 2005</div>
                        </div><!--//upper-row-->
                        <div class="company">Buenos Aires</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Coordinador del Área de comunicación de la Dirección General de Defensa y Protección al Consumidor de la Ciudad de Buenos Aires. Realización de boletines y campañas de concientización sobre los derechos de los consumidores, creación de contenidos para la Intranet y comunicación con los diferentes medios de comunicación de la Ciudad.</p>
                    </div><!--//details-->
                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Editor de contenido</h3>
                            <div class="time">2000 - 2001</div>
                        </div><!--//upper-row-->
                        <div class="company">Yupi Internet</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Edición de noticias para la sección de novedades del portal Yupi Internet.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Periodista</h3>
                            <div class="time">1997</div>
                        </div><!--//upper-row-->
                        <div class="company">Ciudad XXI</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Periodista en el diario de investigación «Ciudad XXI», dirigido por Héctor Ruiz Nuñez en la Ciudad de Buenos Aires.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
