<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publicaciones</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">2015</span> - <span class="project-tagline"><a href="https://www.youtube.com/watch?v=aSAMiwwkK1Y" alt="Herramientas para periodistas digitales">«Herramientas para periodistas digitales»</a>, charla en la Universidad Nacional de Cuyo.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2014</span> - <span class="project-tagline"><a href="http://www.vocesenelfenix.com/content/la-red-cercada" alt="La red cercada">La red cercada</a> en «Las voces del Fénix», nº 40, publicaciń del Plan Fénix, Facultad de Ciencias Económicas, Universidad de Buenos Aires.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2012</span> -
                    <span class="project-tagline">Silvia Lago Martínez y otros. «Ciberespacio y resistencias. Exploración en la cultura digital». Capítulo: Transparencia, participación, descentralización, transformación. Apuntes sobre “las almas” de Internet y la World Wide Web. Libro bajo licencia Creative Commons, <a href="http://la-periferica.com.ar/descargar.php?libro=978-987-25914-1-0.pdf">puede descargarse aquí</a> </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2006</span> - <span class="project-tagline">Silvia Lago Martínez, Ana Marotias, Laura Marotias y Guillermo Movia. «Internet y lucha política. Los movimientos sociales en la red». Colección Claves para todos, Capital Intelectual, Buenos Aires, Argentina.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2006</span> - <span class="project-tagline"><href="https://www.pagina12.com.ar/diario/suplementos/futuro/13-1453-2006-04-22.html">«Libertad, igualdad y fraternidad»</a> junto a Esteban Magnani, suplemento Futuro del diario Página/12, Buenos Aires, Argentina. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2004</span> - <span class="project-tagline"><a href="https://www.pagina12.com.ar/diario/suplementos/futuro/13-783-2004-04-17.html">«Soldados larga duración»</a>, suplemento Futuro del diario Página/12, Buenos Aires, Argentina</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2004</span> - <span class="project-tagline"><a href="https://www.pagina12.com.ar/diario/suplementos/futuro/13-743-2004-03-13.html">«Juegos de guerra»</a>, suplemento Futuro del diario Página/12, Buenos Aires, Argentina</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2004</span> - <span class="project-tagline"><a href="https://www.pagina12.com.ar/diario/suplementos/futuro/13-722-2004-02-21.html">«La venganza de los virus»</a>, suplemento Futuro del diario Página/12, Buenos Aires, Argentina</span>
                </div><!--//item-->
            </section><!--//section-->
